* {
    box-sizing: border-box;
}

.box {
    display: flex;
    background-color: blueviolet;
    padding: 5px;
}

.box-list {
    background-color: brown;
    padding: 3px;
    border: 1px solid black;
}



